.movie-details {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 2px;
  }
  
  .movie-details-poster {
    flex: 1;
    margin-right: 20px;
  }
  
  .movie-details-poster img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
  
  .movie-details-info {
    flex: 2;
  }
  
  .movie-details-info h2 {
    margin-top: 0;
  }
  
  .movie-details-info p {
    margin: 10px 0;
  }

  .movie-details-info button {
    background-color: #54575b;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .movie-details-info button:hover {
    background-color: #131313;
  }