.dialog {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #232323;
}

.close-dialog-button-wrapper {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.close-dialog {
    background-color: #232323;
    color: #FFFFFF;
    border: none;
}

.dialog-title-wrapper {
    margin-left: 40px;
}
