/* Set container width and center it horizontally */
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #232323;
  margin-top: 54px;
}

.details {
  margin-top: 37px;
}

.under-header {  
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.under-header-controls {
  display: flex;
}

.gray {
  height: 10px;
  background-color: #555555;
}

.blur {
  -webkit-filter: brightness(50%) blur(1px);
  -moz-filter: brightness(50%) blur(1px);
  -o-filter: brightness(50%) blur(1px);
  -ms-filter: brightness(50%) blur(1px);
  filter: brightness(50%) blur(1px);
}

.add {
  top: 229px;
  width: 976px;
  height: 916px;
}
