.movie-details-netflixroulette-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 30px;
  color: #FFFFFF;
}

.movie-details {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #232323; 
}

.movie-details-poster {
  margin-right: 60px;
  margin-left: 60px;
  width: 323px;
  padding-bottom: 29px;
}
  
.movie-details-poster img {
  width: 100%;
  height: auto;
  border-radius: 1px;
}
  
.movie-details-info {
  flex: 2;
  padding-right: 60px;
}

.go-to-all-movies-button:hover a {
  color: #555555;
}

.go-to-all-movies-button {
  background-color: #232323;
  border: none;
  font-size: 50px;
  margin-right: 30px;
  margin-top: 4px;
  color: #F65261;
  font-weight: 100;
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.go-to-all-movies-button a {
  text-decoration: none;
  color: #F65261;
}

.movie-details-title-and-rating, .movie-details-release-year-and-duration-div {
  display: flex;
}

.movie-details-title-div p {
  margin-right: 20px;
  margin-left: -2px;
}

.movie-details-rating-div p {
  padding-left: 15px;
  padding-top: 17px;
  margin-top: -6px;
}

.movie-details-genres-div p {
  margin-top: 10px;  
  margin-bottom: 30px;
}

.movie-details-release-year-and-duration-div p {
  margin-right: 50px;
  margin-bottom: 30px;
}
