.title {
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
  padding-left: 10%;
}

.netflix-roulette {
  font-size: 20px;
  font-weight: 900;
  color: #F65251;
  margin-left: 3%;
}

.movie-tile-title {
  margin-top: 21px;
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.movie-genres {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100; 
  margin-bottom: 1px;
  opacity: 60%;
}

.movie-details-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 20px;
  margin-left: -2px;
}

.movie-details-rating, .movie-details-reating-one-digit {
  color: #FFFFFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #FFFFFF;
  padding-left: 15px;
  padding-top: 17px;
  font-size: 20px;
  margin-top: -6px;
}

.movie-details-reating-one-digit {
  padding-left: 23px;
}

.movie-details-genres {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500; 
  margin-top: 10px; 
  line-height: 17px; 
  margin-bottom: 30px;
  opacity: 50%;
}

.movie-details-release-year-and-duration {
  font-size: 24px;
  font-weight: 300;
  color: #F65251;
  margin-right: 50px;
  margin-bottom: 15px;
  line-height: 29px;
}

.movie-details-description {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  opacity: 50%;
}

.movie-tile-release-year {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid;
  opacity: 50%;
  text-align: center;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 18px;
  width: 65px;
}

.movie-counter {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}
