/* Set search form styles */
form {
  display: flex;
  margin-top: 20px;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  margin-bottom: 140px;
  background-color: #424242;
  color: #FFFFFF;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #F65251;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 140px;
  margin-left: 10px;
  width: 200px;
  text-transform: uppercase;
}