/* Set search form styles */
form {
  display: flex;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  margin-bottom: 140px;
  background-color: #424242;
  color: #FFFFFF;
  height: 57px;
  opacity: 70%;
}

.search-button {
  height: 57px;
  width: 233px;
  font-weight: 500;
  font-size: 20px;
  background-color: #F65251;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 150px;
  margin-left: 15px;
  text-transform: uppercase;
}
