/* Set genre buttons styles */
.genre-buttons {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.genre-buttons button {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #232323;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.genre-buttons button.selected {
  border-bottom: 4px solid #F65251;
  padding-bottom: 21px;
  z-index: 1;
}
