/* Set header styles */
header {	    
  background-image: url("./../../assets/header-background.svg");
}

.head-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #FFFFFF;
}

.head-line button {
  font-size: 16px;
  background-color: #555555;
  color: #F65251;
  padding: 6px 12px;
  border-radius: 2px;
  border: none;
  margin-right: 25px;
}
