
.dialog {
    z-index: 3;
    position: absolute;
    top: 229px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #232323;
    width: 976px;
    height: 916px;
    backdrop-filter: blur(8px);
}
