@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;		
  font-family: 'Montserrat', sans-serif;
}

/* Set body background color */
body {
  background-color: #555555;
}
