.movie-img {
  width: 100%;
  height: auto;
}

.movie-figcaption h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.movie-figcaption {
  display: grid;
  grid-template-columns: auto 65px;
}

.movie-genres {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100; 
  margin-bottom: 20px;
}

.movie-release-year {  
  font-size: 14px;
  font-weight: 100;
  color: #FFFFFF;
  border: 1px solid;
  text-align: center;
  border-radius: 3px;
  padding-top: 5px;
  margin-top: 5px;
  width: 65px;
}