.movie-img {
  position: relative;
}

.movie-img img {
  width: 100%;
  height: auto;
}

.three-dot {
  border: none;
  background-color: #232323;
  color: #FFFFFF;
  padding-left: 14px;
  padding-right: 14px;
  height: 36px;
  font-size: 28px;
  font-weight: 900;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  right: 4%;
  opacity:0;
}

.movie-img:hover button {   
  opacity: 1;
}

.popup-select {
  position: absolute;
  top: 3%;
  right: 4%;
  width: 190px;
  height: 111px; 
  background-color: #232323;
}

.popup-select li {
  list-style: none;
}

.popup-select button {
  width: 190px;
  padding-right: auto;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: #FFFFFF;
  background-color: #232323;
}

.popup-select button:hover {
  background-color: #F65261;
}

.close-popup {
  text-align: right;
  height: 28px;
}

.popup-button-close {
  font-size: 9px;
  padding-right: 10px;
}

.select-popup-button { 
  text-align: left;
  height: 35px;
}

.popup-button-text {
  padding-left: 25px;
}

.movie-tile-description {
  display: grid;
  grid-template-columns: auto 65px;
}

.movie-release-year {  
  color: #FFFFFF;
  border: 1px solid;
  opacity: 50%;
  text-align: center;
  border-radius: 3px;
  padding-top: 5px;
  margin-top: 5px;
  width: 65px;
}
